{
  "trailingComma": "none",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "tabWidth": 4,
        "singleQuote": false,
        "bracketSpacing": true
      }
    }
  ],
  "plugins": [
    "prettier-plugin-solidity",
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss" 
  ],
  "pluginSearchDirs": false
}
